

body {
  background-color: ##FFFAF0;
}

div #footer {
  border-radius: 15px;

}

div #header {
  border-radius: 15px 15px 0px 0px;
}

div #menu {
  border-radius: 0px 0px 15px 15px;
  margin-bottom: 1%;
}

div #panel_lewy {
  border-radius: 15px;
  margin-top: 1.5%;
  margin-bottom: 2%;
}

p {
  margin: 10px;
  padding-bottom: 10px;
  text-align: justify;
}

h1, h2 {
  margin: 10px;
}

#container {
  display: block;
  margin: auto;
  max-width: 999px;
}

#header {
  display: block;
  background-image: url(panorama.png);
  background-repeat: no-repeat;
  background-size: cover;  /* zobacz czy to ma być z tym czy lepiej bez */
  background-position: right;
  background-color: black;
  height: 250px;

}
.logo{
  width: 50%;
  max-width: 200px;
  max-height: 200px;
  float: left;
  border-radius: 50%;
  margin:25px;
}

.przycisk{
filter: contrast(0)
        brightness(100);
float: right;
margin: 10px;
}

a:hover.przycisk {
  transform: scale(1.1);

}

li {
  margin: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#menu {
  display: flex;
  background-color: black;
  height: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 5px;

}

.menutxt {
  font-weight: bold;
  color: white;
  padding: 25px;
  font-size: 20px;
  font-style: normal;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  text-shadow: 2px 2px 5px white;
}

 a:hover.menutxt {
color: #ebe707;
transform: scale(1.1);
}

#panel_lewy {
  background-color: #e0d7d8;
  display: inline-block;
  min-height: 660px;
  width: 71.5%;
  float: left;
  margin-right:0.25%;
}

#panel_prawy {
  background-image: url(paper_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;  /* zobacz czy to ma być z tym czy lepiej bez */
  display: inline-block;
  background-color: white;
  height: 300px;
  width:25.75%;
  float: right;
  margin-right: 1%;
  box-shadow: 6px 6px 4px 4px #AAAAAA;
  border: 1px solid #000;
  margin-top: 15px;
  margin-bottom: 40px;
}

#panel_prawy2 {
  background-image: url(paper_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;  /* zobacz czy to ma być z tym czy lepiej bez */
  display: inline;
  background-color: white;
  height: 300px;
  width:25.75%;
  float: right;
  margin-right: 1%;
  box-shadow: 6px 6px 4px 4px #AAAAAA;
  border: 1px solid #000;
  margin-bottom: 25px;
}

.blog  {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  font-size: 20px;
  color: black;
  font-weight: bold;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #ebe707;
  width: 40%;
  height: 50px;
  box-shadow: 6px 6px 4px 4px black;


}

.lista_art{
  align-items: center;
  text-align: center;
  justify-content: center;
  color: black;
  line-height: 70%;
}

.more{
float: right;
margin-right: 10px;
color: black;

}

#footer {
  clear:both;
  display: block;
  background-color: black;
  text-align: center;
  min-height: 125px;
  color: white;
  padding: 5px;
}

#mail {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 750px) {
  /* For mobile phones: */
  #panel_lewy {
    width: 100%; }
     .logo {
       max-width: 150px;
       max-height: 150px;
       float: left;
       border-radius: 50%;
       margin:50px 25px 25px 25px;
    }
  #menu {
    align-items: center;
    text-align: center;
    justify-content: center;
    height: auto;
    display: block;
    width: 100%;
    font-size: 28px;}
  #panel_prawy, #panel_prawy2 {
    width: 97%; }

  }
