body {
  background-color: lightblue;
}

div {
  margin-bottom: 0.5%;
  border-radius: 15px;
}

p {
  margin: 10px;
  padding-bottom: 10px;
  text-align: justify;
}

h1, h2 {
  margin: 10px;
}

#container {
  display: block;
  margin: auto;
}

#header {
  display: block;
  background-color: black;
  height: 150px;
  background-image: url(coffebaner.png);
}
#logo{
  display: block;
  weight: 500px;
  height: 150px;
  margin: auto;
}

#przycisk{
filter: contrast(0)
        brightness(100);

float: right;
margin: 10px;
}

#menu {
  display: flex;
  background-color: black;
  height: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#menutxt{
  font-weight: bold;
  color: white;
  padding: 25px;
  font-size: 20px;
  font-style: normal;
  text-decoration: none;
  text-shadow: 2px 2px 5px white;
}

.col-container {
  display: table;
  width: 100%;
  border-collapse:separate;
  border-spacing: 5px;
}
.col {
  display: table-cell;

}

#panel_lewy {
  background-color: #c24050;
  min-height: 500px;
  width: 74.75%;
}

#panel_prawy {
  background-color: #c25000;
  min-height: 500px;
  width:24.75%;

}

#footer {
  clear:both;
  display: block;
  background-color: black;
  min-height: 150px;
}
#kontext{
  color: white;
}
